.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  font-size: 2em;
  color: white;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

label {
  margin-bottom: 10px;
  font-size: 0.8em;
}

button, .Name-field {
  background-color: green;
  border: solid white 2px;
  border-radius: 0.4em;
  padding: 5px;
  font-weight: bolder;
  font-size: 0.8em;
  color: white;
  margin: 0.2em;
  text-align: center;
}

.summary {
  width: 300px;
  border: 2px solid #ccc;
  padding: 10px;
  text-align: center;
}
